<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../components/Widgets/dashboard/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title class="title-image">WealthyGo</title>
    <style>
        .goal-tracker {
            width: 100%;
            background-color: #f0f0f0;
            border-radius: 5px;
            overflow: hidden;
        }
        
        .progress {
            width: 30%; /* Change this value to represent the progress (0-100%) */
            background-color: #4CAF50;
            color: white;
            text-align: center;
            line-height: 30px;
        }
    </style>

</head>

<body>
    <div id="mySidenav" class="sidenav">
        <p class="logo"><span>Wealthy</span>Go</p>
        <a href="../../Pages/dashboard.html" class="icon-a"><i class="fa-solid fa-gauge"></i></i>&nbsp;&nbsp;Dashboard</a>
        <a href="../../Pages/Accounts.html" class="icon-a"><i class="fa-solid fa-user"></i></i>&nbsp;&nbsp;Accounts</a>
        <a href="../../Pages/Billing.html" class="icon-a"><i
                class="fa-solid fa-file-invoice"></i></i>&nbsp;&nbsp;Billing</a>
        <a href="../../Pages/Budget.html" class="icon-a"><i
                class="fa-solid fa-money-bill"></i></i>&nbsp;&nbsp;Budget</a>
        <a href="../../Pages/Employees.html" class="icon-a" target="_self"><i
                class="fa-solid fa-users"></i></i>&nbsp;&nbsp;Employees</a>
        <a href="../../Pages/Goal_Track.html" class="icon-a"><i class="fa-solid fa-chart-line"></i></i>&nbsp;&nbsp;Goal
            Track</a>
        <a href="../../Pages/Investments.html" class="icon-a"><i
                class="fa-solid fa-briefcase"></i></i>&nbsp;&nbsp;Investment</a>
        <a href="../../Pages/Report_analysis.html" class="icon-a"><i
                class="fa-solid fa-chart-bar"></i></i>&nbsp;&nbsp;Report Analysis</a>
    </div>
    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span style="font-style: 30px; cursor: pointer; color: white;" class="nav"> &#9776; Dashboard</span>
                <span style="font-style: 30px; cursor: pointer; color: white;" class="nav2"> &#9776; Dashboard</span>
            </div>
            <div class="col-div-6">
                <div class="profile">
                    <!-- <img src="../../../assets/imgs/imgpro.png" class="profile-img"> -->
                    <p>Varshita<span>Administrator</span></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>69<br /><span>Employees</span></p>
                <i class="fa-solid fa-users"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>78<br /><span>Accounts</span></p>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>1,55,320<br /><span>Investments</span></p>
                <i class="fa-solid fa-briefcase"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>Pending<br /><span>Billing Invoices</span></p>
                <i class="fa-solid fa-file-invoice"></i>
            </div>
        </div>
        <div class="clearfix"></div>
        <br /><br />

        <div class="col-div-8">
            <div class="box-8">
                <div class="content-box">
                    <p>View<span>Goal Track</span></p>
                    <br/>
                    <div class="goal-tracker">
                        <div class="progress">30%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-div-4">
            <div class="box-4">
                <div class="content-box">
                    <p>View All<span>Investments</span></p>

                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                        </div>
                        <div class="inside-circle">75%</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="clearfix"></div>
    </div>
</body>

</html>